$bg-column: rgba(204, 204, 204, 0.32);
$border-color: rgba(212, 212, 212, 0.48);
$count-bg: rgba(255, 255, 255, 0.5);
$text-color: rgba(0, 0, 0, 0.8);
$spacing: 4px;

%flex-center {
  display: flex;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;

  .Column {
    background-color: $bg-column;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    
    &[data-droppable="true"] {
      background-color: rgba(204, 204, 204, 0.4);
    }

    .Column-header {
      padding: 0 12px;
      border-bottom: 1px solid $border-color;
      border-radius: 4px 4px 0 0;
      @extend %flex-between;

      .Title-count {
        @extend %flex-center;
        gap: 10px;

        h3 {
          margin: 0;
        }

        .Column-header-count {
          background-color: $count-bg;
          padding: 4px 8px;
          border-radius: 4px;
          color: $text-color;
        }
      }

      .Column-header-buttons {
        display: flex;
        align-items: center;

        p {
          cursor: pointer;
          color: $text-color;
          transition: all 0.2s ease;
          margin: 0;
          font-size: small;

          &:hover {
            text-decoration: underline;
          }
        }

        .Column-header-button {
          cursor: pointer;
          color: $text-color;
          transition: all 0.2s ease;
          padding: 8px;
          border-radius: 4px;
          margin: 0;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            transform: scale(1.1);
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }


  }
}