.Cards {
    padding: 16px;

    .Card {
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        border: 1px solid rgba(175, 175, 175, 0.482);
        transition: all 0.3s ease;
        padding-left: 16px;
        margin-top: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba(211, 211, 211, 0.319);
        }
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}